.contact-jumbotron {
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center; 
    /* margin-left: 25px;
    margin-right: 25px;  */
    font-size: 30px; 
    padding: 30px
  }
  .m-2{
      padding: 2px; 
      justify-content: center;
      margin-right: 20px
  }
  
.lable {
    text-align: center;
    color: white
}